
{% extends 'base.html.twig' %}
{% block  body%}

<div class="container">
{{ form_start(form) }}

  {{ form_row(form.name) }}
  {{ form_row(form.username) }}
  {{ form_row(form.email) }}
   {{ form_row(form.password) }}
  <div class=" m-4">
   {{ form_row(form.save) }}
</div>
{{ form_end(form) }}
</div>
{% endblock %}