{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Joby</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
    {%for job in mymenu%}
     
      <li class="nav-item active">
        <a class="nav-link" href="">{{job.institule}} </a>
      </li>
     {% endfor %}
    </ul>
   
    </div>
    </div>
    

    <div class="container">
    <h2 class="text-center p-3">Tous les données</h2>
    </br></br>
   <table class="table table-striped table-hover">
    <tr class="table-secondary">
        <th>ID</th>
        <th>Title</th>
        <th>Paye</th>
        <th>Type</th>
        <th>Salaire</th>
        <th>Action</th>
    </tr>
        {% for post in postes %}
            <tr>
                <td> {{post.id}}</td>
                {% if post.title == "Developpeur web" %}
                <td > 
                <a style="color:red;" href="{{path('post.show',{id: post.id})}}" >
                {{post.title}}</a>
                </td>
                {% else %}
                <td>
                <a href="{{path('post.show',{id: post.id})}}" >
                {{post.title}} </a>
                </td>
                
                {% endif %}
                 <td>
                {{post.paye}} 
                </td>
                 <td>
                {{post.type}}
                </td>
                 <td>
                {{post.salaire}}
                </td>
                <td>
                 <a href='{{path('post.remove',{id: post.id})}}'class="btn btn-danger">Delete user </a></td> 
                </td>
            <tr>
        {% endfor %}
   
   </table>
   <a href='{{path('post.create')}}'class="btn btn-success ">Add user </a>

</div>
{% endblock %}
