{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <h2 class="text-center p-3">Tous les données</h2>
    </br></br>
   <table class="table table-striped table-hover">
    <tr class="table-secondary">
    <th>ID</th>
    <th>Title</th>
    <th>Action</th>
    </tr>
        {% for post in postes %}
            <tr>
                <td> {{post.id}}</td>
                <td> 
                <a href="{{path('post.show',{id: post.id})}}" >
                {{post.title}}</td> </a>
                <td>
                 <a href='{{path('post.remove',{id: post.id})}}'class="btn btn-danger">Delete </a></td> 
            <tr>
        {% endfor %}
   
   </table>
   <a href='{{path('post.create')}}'class="btn btn-success ">Add </a>

</div>
{% endblock %}
